body {
	background: url('/modules/core/img/background/skyline.jpg') no-repeat top center fixed;
}

.content {
	margin-top: 50px;
}
.alternatingColors:nth-child(even) {
	background-color: #E0F7FA;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
